<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestUploadDo</servlet-name>
    <servlet-class>TestUploadDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginDo</servlet-name>
    <servlet-class>admin.AdminLoginDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ScoreUploadDo</servlet-name>
    <servlet-class>admin.ScoreUploadDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewDo</servlet-name>
    <servlet-class>admin.ViewDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteDo</servlet-name>
    <servlet-class>admin.DeleteDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentQueryDo</servlet-name>
    <servlet-class>student.StudentQueryDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentChangePwdDo</servlet-name>
    <servlet-class>student.StudentChangePwdDo</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>TestUploadDo</servlet-name>
    <url-pattern>/TestUploadDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginDo</servlet-name>
    <url-pattern>/admin/AdminLoginDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreUploadDo</servlet-name>
    <url-pattern>/admin/ScoreUploadDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewDo</servlet-name>
    <url-pattern>/admin/ViewDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDo</servlet-name>
    <url-pattern>/admin/DeleteDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentQueryDo</servlet-name>
    <url-pattern>/student/StudentQueryDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentChangePwdDo</servlet-name>
    <url-pattern>/student/StudentChangePwdDo</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
